<h1>Book Details</h1>
    <p>Title: <%= @book.title %></p>
    <p>Author: <%= @book.author %></p>
<br>
    <form action="/books/edit/<%= @book.id %>" method="post" style="display:inline;">
        <button type="submit">Edit</button>
    </form>
    <form action="/books/delete/<%= @book.id %>" method="post" style="display:inline;">
        <button type="submit">Delete</button>
    </form>
    <a href="/books/<%= @book.id %>/comment" class="comment-button">Leave a Comment</a>
<hr>
    <a href="/books">All Books</a>
<hr>
<a href="/logout"> Logout </a>

